<form method="post">
<p>{{message}}</p>
{% for row in entry %}
  {% for name,r in row %}
  <div class="form-group form-row">
    <label for"{{name}}" class="col-md-2">{{name}}</label>
    <input name="{{name}}" type = "text" class="col-md-10 form-control" value="{{r}}" disabled/>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Senden</button>
  <a href="{{returnUrl}}" class="btn btn-primary">Abbrechen</a>
{% endfor %}
</form>