{% for table in tables %}
    <h2>{{table['name']}}</h2>
    <div class="table-responsive">
        <table class="table">
        <thead class="thead-dark">
            <tr>
            {% for head in table['columns'] %}
                <th>{{ head }}</th>
            {% endfor %}
            </tr>
        </thead>
            {% for row in table['rows'] %}
                <tr>
                    {% for r in row %}
                    <td>
                        {% if loop.first %}
                            <a href="?command=read&tblid={{table['name']}}&id={{r}}">{{r}}</a> <a href="?command=update&tblId={{table['name']}}&id={{r}}">Edit</a>|<a href="?command=delete&tblId={{table['name']}}&id={{r}}">Delete</a>
                        {% else %}
                            {{r}}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <hr>
{% endfor %}